<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Kết nối Oracle -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">Khanh</property>
        <property name="hibernate.connection.password">strongpassword</property>

        <!-- Cấu hình Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle19cDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>


        
        <!-- Load file XML mapping -->
        <mapping resource="mapping/BaseEntity.hbm.xml"/>
        <mapping resource="mapping/Category.hbm.xml"/>
        <mapping resource="mapping/Customer.hbm.xml"/>
        <mapping resource="mapping/Dashboard.hbm.xml"/>
        <mapping resource="mapping/Employee.hbm.xml"/>
        <mapping resource="mapping/FeedBack.hbm.xml"/>
        <mapping resource="mapping/GiftVoucher.hbm.xml"/>
        <mapping resource="mapping/Invoice.hbm.xml"/>
        <mapping resource="mapping/Item.hbm.xml"/>
        <mapping resource="mapping/OrderDetail.hbm.xml"/>
        <mapping resource="mapping/Owner.hbm.xml"/>
		<mapping resource="mapping/Payment.hbm.xml"/>
		<mapping resource="mapping/Payroll.hbm.xml"/>
		<mapping resource="mapping/Person.hbm.xml"/>
		<mapping resource="mapping/Product.hbm.xml"/>
		<mapping resource="mapping/Store.hbm.xml"/>
		<mapping resource="mapping/Supplier.hbm.xml"/>
		<mapping resource="mapping/UserSession.hbm.xml"/>
		<mapping resource="mapping/WarehouseImport.hbm.xml"/>        
    </session-factory>
</hibernate-configuration>
